<p>
  price is <%= @price %>
</p>

<p>
  <i>
    At the risk of stating the obvious, btcusd.gilesb.com does not constitute financial advice.
    Absolutely no guarantees are made regarding the usefulness, accuracy, or freshness of the data.
    The miniapp functions purely as a convenience for busy people who are curious enough to keep
    an eye on Bitcoin but not serious enough to pour their entire life savings into it.
  </i>
</p>

